name: Deploy to AKS

on:
  workflow_call:

jobs:
  set_vars:
    runs-on: ubuntu-latest
    outputs:
      AWS_REGION: ${{ steps.set_vars.outputs.AWS_REGION }}
    steps:
      - name: Set VARS
        id: set_vars
        run: |
          echo "AWS_REGION=${{ vars.AWS_REGION }}" >> $GITHUB_OUTPUT
          echo "AWS_S3_BUCKET=${{ vars.AWS_S3_BUCKET }}" >> $GITHUB_OUTPUT
          echo "RESOURCE_GROUP=${{ vars.RESOURCE_GROUP }}" >> $GITHUB_OUTPUT
          echo "AKS_CLUSTER_NAME=${{ vars.AKS_CLUSTER_NAME }}" >> $GITHUB_OUTPUT

  deploy:
    needs: set_vars
    uses: flavio185/reusable-workflows/.github/workflows/deploy-to-k8s@main
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    with:
      config_path: generated-manifests
      AWS_REGION: ${{ needs.set_vars.outputs.AWS_REGION }}
      RESOURCE_GROUP: ${{ needs.set_vars.outputs.RESOURCE_GROUP }}
      AKS_CLUSTER_NAME: ${{ needs.set_vars.outputs.AKS_CLUSTER_NAME }}
