name: CI
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install the project
        run: make requirements

      - name: Lint code
        run: make lint

      - name: Run tests with pytest
        run: make test
      
  artifact_upload:
    uses: flavio185/reusable-workflow/.github/workflows/upload-to-s3@main
    secrets: inherit
